body{
	background: #49c0f0;
	background: -moz-linear-gradient(top, #49c0f0 3%, #2393b2 76%);
	background: -webkit-linear-gradient(top, #49c0f0 3%,#2393b2 76%);
	background: linear-gradient(to bottom, #49c0f0 3%,#2393b2 76%);
}
.panel-heading{
	border-radius: 7px 7px 0 0;
	position: relative;
	background: #ff8663;
	color: #fff;
	font-size: 20px;
}
.glyphicon-remove{
	position: absolute;
	padding: 10px;
	right: 10px;
	text-align: right;
	display: none;
}
.panel-title{
	font-size: 20px;
}
.search__wrap{
	background: #ccc;
}
.form-control{
	border-radius: 30px;
	margin: 10px 0 10px 10px;
	width: 46%;
}
.left{
	float: left;
}
.right{
	margin-right: 10px;
	float: right;
}
.friend__wrap{
	background: #fff;
}
.friend{
	margin: 10px 0 10px 10px;
	width: 46%;
}
.friend__all-block{
	float: left;
	border-right: 1px solid #f0f0f0;
}
.friend__group-block{
	margin-right: 10px;
	float: right;
}
.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#friendSave{
	width: 100%;
	height: 500px;
}
.glyphicon-plus{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.glyphicon-minus{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.friendItem{
	position: relative;
}

.list-group{
	height: 500px;
	overflow: scroll;
}

#friendList .glyphicon-minus.glyphicon-minus:before {
	content: "\002b";
}

#friendSave .glyphicon-minus.glyphicon-minus:before{
	content: "\2212";
}

.hide{
	display: none;
}
.hide{
	display: none;
}
.show{
	display: block;
}
h1{
	text-align: center;
	color: #fff;
text-shadow: 1px 1px 4px #000;
}



/*ribbon*/
.ribbon {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 130px;
  height: 130px;
  text-align: right;
}
.ribbon a {
  font-size: 11px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(43deg);
  width: 185px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F79E05 0%, #8F5408 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 45px;
  right: -38px;
}
.ribbon a::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F5408;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
.ribbon a::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F5408;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
