body{
  text-align: center;
}
h2{
  width: 150px;
  background: yellow;
  cursor: pointer;
  margin: 0 auto;
}
.tab1, .tab2, .tab3{
  display: none;
  width: 150px;
  font-size: 14px;
  margin: 0 auto;}
p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active{
  display:block;
}
.tab1{
  background: #cccccc;
  color: #fff;
}
.tab2{
  background: blue;
  color: #fff;
}
.tab3{
  background: red;
  color: #fff;
}
